<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hoffmanengineering.printlog" version="1.1.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>3D Print Log</name>
    <description>
        Easily log and track your 3D prints. Record print times, filament usage, settings and more. Quickly search for past 3D prints.
    </description>
    <author email="hello@3dprintlog.com" href="https://www.3dprintlog.com">
        Hoffman Engineering
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/img/logo.png" />
    <allow-navigation href="https://www.3dprintlog.com/*" />
    <allow-navigation href="https://*.auth0.com/*" />
    <allow-navigation href="https://*.google.com/*" />
    <!-- <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" /> -->
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidXEnabled" value="true" />
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
        </config-file>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="www/img/logo.png" width="1024" height="1024" />
        <preference name="deployment-target" value="13.0" />
        <preference name="WKWebViewOnly" value="true" />
        <preference name="AllowInlineMediaPlayback" value="true" />
        <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
            <string>3D Print Log needs camera access to scan QR codes and capture photos of your prints</string>
        </edit-config>
        <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
            <string>3D Print Log needs photo library access to select photos of your 3D prints</string>
        </edit-config>
        <edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
            <string>3D Print Log needs photo library access to save photos of your 3D prints</string>
        </edit-config>
    </platform>
    <preference name="OverrideUserAgent" value="Mozilla/5.0 Google PrintLog/1.2" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#3F50B5" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreen" value="none"/>
    <preference name="SplashScreenDelay" value="0"/>
    <preference name="FadeSplashScreenDuration" value="0"/>
    <hook type="before_compile" src="hooks/before_compile/patch_camera_permission.js" />
    <hook type="before_compile" src="hooks/before_compile/patch_auth_custom_tab.js" />
</widget>
